# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environment files
.env
*.env

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
