APScheduler==3.6.3
asgiref==3.9.1
cachetools==4.2.2
certifi==2025.8.3
Django==5.2.5
djangorestframework==3.16.1
python-decouple==3.8
python-telegram-bot==13.15
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tornado==6.1
typing_extensions==4.14.1
tzlocal==5.3.1
